@model RecipesWebSite.Models.Entity.Recipe
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row row-50 justify-content-xl-between align-items-lg-center">
        <div class="col-lg-6 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="box-image">
                <img class="box-image-position" src="@Url.Content(Model.RecipeImg)" alt="" width="341" height="391">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
            <h2>@Html.Label(Model.RecipeName)</h2>
            <h2>Tarif</h2>
            <p>@ViewBag.description</p>
            <h2>Malzemeler</h2>
            <p>@ViewBag.ingridients</p>
            @*<p>@Html.Label(Model.Ingridient.Where(x=>x.IngridientsID))</p>*@
        </div>
    </div>
</div>

