@model RecipesWebSite.Models.Entity.User
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Ekle</h2>
<form class="form-group" method="post">
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Soyadı")
    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Nickname")
    @Html.TextBoxFor(x => x.UserNickname, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Şifre")
    @Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Aktif mi?")
    @Html.DropDownListFor(c => c.UserStatus.UserStatus1, (IEnumerable<SelectListItem>)ViewData["status"], new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Seviyesi")
    @Html.DropDownListFor(c => c.UserLevel.UserLevel1, (IEnumerable<SelectListItem>)ViewData["level"], new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>